import React, { FC } from "react";
import styles from "./{{nameKC}}.module.scss";

interface {{nameTC}}Props {
    MacGuffin?: string;
}

const {{nameTC}}: FC<{{nameTC}}Props> = ({ MacGuffin='Sample MacGuffin' }) => {

return (
    <div className={styles["{{nameKC}}"]}>
    <div className={styles["{{nameKC}}__someSubDiv"]}>
        <h1>Component - {{nameTC}} - {MacGuffin}</h1>
        <h2>Pizza Size : {{pizzaSize}}</h2>
    </div>
    </div>
);
};

export default {{nameTC}};